@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #214ba5;
  font-family: "Open Sans", sans-serif;
  padding: 10px 150px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

main {
  height: 60vw;
}

ul#youtube-features-list > li {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  width: 80vw;
  margin: auto;
  font-size: 1.2em;
  padding: 2px 5px;
  letter-spacing: 0.6px;
  font-weight: 500;
  line-height: 1em;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  animation: slidein 800ms ease-in-out;
}

.feature-request-box > button,
.report-issue-box > button {
  padding: 10px;
  margin: 5px;
  font-size: 1em;
  font-weight: 550;
  border: 2px solid #0767f4;
  border-radius: 6px;
}

.feature-request-box > button:hover,
.report-issue-box > button:hover {
  background-color: #ffffff;
  color: #2565e4;
  cursor: pointer;
  transition-duration: 300ms;
}

.feature-request-box > button > a,
.report-issue-box > button > a {
  text-decoration: none;
  color: #069aed;
  font-size: 1em;
}

.for-developers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: popup 1000ms ease-in-out ;
}

.for-developers > button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f1f1f;
  color: #e2e5ec;
  padding: 15px;
  margin: 10px auto;
  letter-spacing: 1px;
  border: none;
  border-radius: 6px;
}

.for-developers > button:hover {
  background-color: #03145c;
  color: #ffffff;
  cursor: pointer;
}

.for-developers a {
  color: #ffffff;
  text-decoration: none;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translate(-100vw);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}


@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
