body {
	background-color: black;
	color: white;
}

main {
	width: 60vw;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 36px;
	margin: 20px;
	color: #00a2ff;
}

h2 {
	text-align: center;
	font-size: 24px;
	margin: 20px;
}

.blockable-website {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 18px;
	color: #fff;
	padding: 2px;
	margin: 18px;
	border: 2px dotted #a4a4a4;
	border-radius: 12px;
}

section#adder {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
}

input#new-website {
	min-width: 100%;
	font-size: 18px;
	margin: 12px 20px;
	padding: 12px 18px;
	border: none;
	background-color: black;
	color: #eee;
	border: 1px solid #a4a4a4;
	border-radius: 12px;
}

button.add-website-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 16px;
	margin: 12px;
	border: none;
	border-radius: 12px;
}

button.add-website-btn:hover {
	border-radius: 12px;
	cursor: pointer;
}

#add-website,
#suggestions-container {
	width: 60%;
	margin: auto;
}

button.add-website-btn {
	background-color: white;
	color: black;
	padding: 8px 24px;
	margin: 12px;
	border: none;
	border-radius: 12px;
}

button.add-website-btn:hover {
	background-color: #28b0ff;
	color: white;
	transition-duration: 400ms;
}

button.delete-website-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 24px;
	margin: 12px;
	border: none;
	border-radius: 12px;
}

button.delete-website-btn:hover {
	border-radius: 12px;
	cursor: pointer;
	background-color: #ff6565;
	transition-duration: 400ms;
}

img {
	width: 24px;
	height: 24px;
	margin: 12px;
}
